html, body{
	width: 100%;
	height: 100%;

}
.bars {
  margin: 0 auto;
}
.copyright{
	margin-top:auto;
	font-size:15px;
	color: white;
}
.copyright img{
	margin-left: auto;
	margin-right: auto;
	height:80px;
	width:auto;
}
.bars text,
.chart text {
  fill: #d8d8d8;
  text-anchor: middle;
}
input,select,button{
  margin: 10px 0 !important;

}
.axis path,
.axis line {
  fill: #000;
  stroke: #d8d8d8;
  shape-rendering: crispEdges;
}

.y.axis path,
.x.axis path,
.x.axis .tick line {
  display: none;
}

.line {
  fill: none;
  stroke: none;
  stroke-width: 1.5px;
}

.area {
  fill: url(#grad-horizontal);
}

.bar:hover {
  fill: #d8d8d8;
}

.main_structure
    {padding: 20px 0; background-color: #3b3b3b;}
.content{padding-bottom: 50px;}
.navbar{
    background-color: #3b3b3b;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}
.side_menu{
    background-color: #3b3b3b;
    height: 100%;
    padding:10px 0;


}
.content{
    background-color: white;

    padding:20px 0;

}

.link_menu {
    display: block;
    color: white !important;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px 10px;
}

.link_menu:hover {
    text-decoration: none;
    background-color: grey;

}

.link_out {
    color: white;
    float: right;
    font-size: 22px;
    margin-top: 5.5px;
    border-radius: 5px;
    padding: 2px 8px;

}

button {
    background-color: #3b3b3b;

}

.link_out:hover {
    text-decoration: none;
    background-color: grey;
    color: white;

}

.name {
    padding-top: 5px;
    float: left;
    color: white;
    font-size: 25px;
}

.name:hover {

    text-decoration: none;
    color: white;
}
.form_control{
    margin: 10px 0 !important;
}
